<div class="container my-5 mx-auto">
    <div class="row my-3">
       <h2>会員情報編集</h2>
    </div>

    <%= form_with model: @customer, url:customer_registration_path ,method: :patch,local: true do |f| %>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>氏名</p>
       </div>
       <div class="col-7">
          (姓)<%= f.text_field :last_name, autofocus: true %>  (名) <%= f.text_field :first_name, autofocus: true %>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>フリガナ</p>
       </div>
       <div class="col-7">
          (セイ)<%= f.text_field :last_name_kana, autofocus: true %>  (メイ) <%= f.text_field :first_name_kana, autofocus: true %>
       </div>
     </div>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>郵便番号</p>
       </div>
       <div class="col-7">
          <%= f.text_field :postal_code, autofocus: true %>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>住所</p>
       </div>
       <div class="col-7">
          <%= f.text_field :address, autofocus: true,class:"form-control",autocomplete: "address" %>
       </div>
     </div>

     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>電話番号(ハイフンなし)</p>
       </div>
       <div class="col-7">
          <%= f.text_field :telephone_number, autofocus: true,autocomplete: "telephone_number" %>
       </div>
     </div>
     <div class="row my-4">
       <div class="col-3 mr-0">
          <p>メールアドレス</p>
       </div>
       <div class="col-7">
          <%= f.text_field :email, autofocus: true,autocomplete: "email" %>
       </div>
     </div>

     <div class="row mx-5">
       <div class="col">
          <p><%=f.submit "編集内容を保存",class:"btn btn-success"%></p>
          <% end %>
       </div>
       <div class="col">
          <p><%=link_to"退会する",customers_unsubscribe_path ,class:"btn btn-danger"%></p>
       </div>
     </div>

</div>

