
<div class="container mt-3">
      <div class="row">
        <div class="col-md-6  mx-auto my-3">
            <%= form_with model: @item,url: admin_items_path,method: :post, local: true do |f| %>
            <h2>商品新規登録</h2>
            <div class="row mt-5 mb-3">
                <div class="col-3">
                  <p>商品画像</p>
                </div>
                <div class="col-9">
                  <%= f.attachment_field :image %>
                </div>
            </div>
             <div class="row my-3">
                <div class="col-3">
                  <p>商品名</p>
                </div>
              <div class="col-9">
                <%= f.text_field :name, autofocus: true  ,class:"form-control"%>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-3">
                  <p>商品説明</p>
              </div>
              <div class="col-9">
                <%= f.text_area :introduction ,class:"form-control" %>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-3">
                <p>ジャンル</p>
              </div>
              <div class="col-9">
                 <%= f.select :genre_id, [['ケーキ', 1], ['プリン', 2],['焼き菓子', 3],['キャンディ', 4]] , include_blank: "--選択して下さい--",class:"form-control"%>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-3">
                <p>税抜価格</p>
              </div>
              <div class="col-9">
                <%= f.text_field :price, autofocus: true%><span>円</span>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-3">
                <p>販売ステータス</p>
              </div>
              <div class="col-9">
                <%= f.radio_button :is_active,"販売中" %><span>販売中</span>
                <%= f.radio_button :is_active, "販売停止中" %><span>販売停止中</span>
              </div>
            </div>
         </div>
      </div>
       <div class="row ">
         <div class="col-md-2  mx-auto">
          <%= f.submit "新規登録" ,class:"btn btn-success my-3"%>
          <% end %>
         </div>
       </div>
</div>