<div class="container">
  <div class="row mt-5">
    <h4><%="#{@customer.last_name}#{@customer.first_name}"%>さんの会員詳細</h4>
  </div>
  <div class="row">
      <table class="table">
        <tr><th>会員ID</th><td><%=@customer.id%></td></tr>
        <tr><th>氏名</th><td><%=@customer.last_name%><%=@customer.first_name%></td></tr>
        <tr><th>フリガナ</th><td><%=@customer.last_name_kana%><%=@customer.first_name_kana%></td></tr>
        <tr><th>郵便番号</th><td><%=@customer.postal_code%></td></tr>
        <tr><th>住所</th><td><%=@customer.address%></td></tr>
        <tr><th>電話番号</th><td><%=@customer.telephone_number%></td></tr>
        <tr><th>メールアドレス</th><td><%=@customer.email%></td></tr>
        <tr><th>販売ステータス</th><td><%=@customer.is_active%></td></tr>
      </table>
      <div class="row-">
        <%= link_to "編集する" , edit_admin_customer_path ,class:"btn btn-success btn-sm text-white text-center" %>
      </div>
    </div>

</div>