<div class="container my-5">
  <div class="row my-3">
    <h4>配送先編集</h4>
  </div>
  <div class="row my-1">
      <div class="col-3">
        <p>郵便番号（ハイフンなし）</p>
      </div>
       <div class="col-9">
      <%= form_with model:@address, url:address_path,local:true do |f|%>
       <%= f.text_field :postal_code,placeholder:"#{@address.postal_code}"%>
      </div>
  </div>
  <div class="row my-1">
      <div class="col-3">
        <p>住所</p>
      </div>
       <div class="col-9">
        <%= f.text_field :address,class:"form-control",placeholder:"#{@address.address}"%>
      </div>
  </div>
  <div class="row my-1">
      <div class="col-3">
        <p>宛名</p>
      </div>
       <div class="col-6">
        <%= f.text_field :name,placeholder:"#{@address.name}"%>
      </div>
      <div class="col-3">
        <p><%= f.submit "変更内容を保存",class:"btn btn-success btn-sm text-white text-center"%></p>
      </div>
  </div>
  <% end %>
</div>
